/* Este es el RESET */

@charset "UTF-8";

    * {
      cursor:auto;

      margin: 0;
      padding: 0;
      border: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      vertical-align: baseline;
    }
    
    img, picture, video, iframe, figure {
      max-width: 100%;
      width: 100%;
      display: block;
    }
    
    a {
      display: block;
      text-decoration: none;
      color: inherit;
      font-size: inherit;
    }
    
    p a {
      display: inline;
    }
    
    li {
      list-style-type: none;
    }
    
    html {
      scroll-behavior: smooth;
    }
    
    h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
      font-size: 1em;
      font-weight: inherit;
      font-style: inherit;
      text-decoration: none;
      color: inherit;
    }
    
    blockquote:before, blockquote:after, q:before, q:after {
      content: "";
      content: none;
    }
    
    ::-moz-selection {
      background-color: var(--negro);
      color: var(--blanco);
    }
    ::selection {
      background-color: var(--negro);
      color: var(--blanco);
    }
    
    form, input, textarea, select, button, label {
      font-family: inherit;
      font-size: inherit;
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
      background-color: transparent;
      color: inherit;
      display: block;

      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }
    
    table, tr, td {
      border-collapse: collapse;
      border-spacing: 0;
    }
    
    svg {
      width: 100%;
      display: block;
      fill: currentColor;
    }
    
    body {
      min-height: 100vh;
      font-size: 100%;
      font-family: Inter, Helvetica, Arial, sans-serif;
      color: var(--negro);
      
      -webkit-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
   
      -webkit-font-smoothing: antialiased;
 
      -moz-osx-font-smoothing: grayscale;
      background-color: #FFF2F1;
    } 


    /* CUSTOM PROPERTIES */
    :root {}

    /* AQUÍ EMPIEZA */
    .Header{
        width: 100%;
        height: 5rem;
        /* background-color: aquamarine; */

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 3rem 2rem;
    }
    
    .Header-logo{
        width: 5%;
        min-height: 3rem;
        /* background-color: blue; */

        padding: 1rem;
    }

    .Header-nav{
        width: 30%;
        min-height: 3rem;
        /* background-color: blue; */

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 1rem;
    }

    .Header-item{}

    .Header-link{
        width: 90%;
        min-height: 2rem;
        /* background-color: lemonchiffon; */

        margin: auto;
    }

    .Main{
        width: 100%;
        min-height: 90vh;
        /* background-color: pink; */

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .Main-image{
        width: 100%;
        min-height: 30rem;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        background-image: url(../assets/lurromi-abstract-3d.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .Main-h2{
        width: 90%;
        min-height: 10rem;
        /* background-color: purple; */

        margin: 0 0 3rem 0;

        font-family: Salernomi J;
        font-size: 12.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.5rem;

        text-align: center;
        color: #E63E38;
    }

    .Main-content{
        width: 50%;
        min-height: 8rem;
        /* background-color: brown; */

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .Main-p-bold{
        width: 55%;
        min-height: 1rem;
        /* background-color: khaki; */

        margin: 0 0 1rem 0;

        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

        color: #E63E38;

    }

    .Main-p{
        width: 55%;
        min-height: 2rem;
        /* background-color: khaki; */

        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;

        color: #E63E38;
    }

    .Projects{
        width: 100%;
        min-height: 150vh;
        /* background-color: lightgreen; */

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }
    .Projects-h2{
        width: 50%;
        min-height: 4rem;
        /* background-color: saddlebrown; */

        margin:  0 0 3rem 0;

        font-family: Salernomi J;
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        letter-spacing: -0.2rem;


        color: #E63E38;
        text-align: center;
    }

    .Projects-container{
        width: 90%;
        min-height: 20rem;
        /* background-color: lightseagreen; */

        margin: 0 0 2rem 0;
    }

    .Project-image{
        width: 100%;
        min-height: 30rem;
        background-color: #E63E38;

        margin: 0 0 1rem 0;

        border-radius: 2rem;
    }

    .Project-title{
        width: 100%;
        min-height: 3rem;
        /* background-color: seagreen; */

        font-family: Salernomi J;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;
        letter-spacing: -0.1rem;
        
        color: #E63E38;
    }
    .Project-tags{
        width: 80%;
        min-height: 3rem;
        /* background-color: burlywood; */

        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.875rem; 

        color: #E63E38;
    }

    .Projects-container-pair{
        width: 90%;
        min-height: 20rem;
        /* background-color: lightpink; */

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;

        margin: 0 0 2rem 0;
    }

    .Project-container-squared{
        width: 48%;
        min-height: 18rem;
        /* background-color: gray; */
    }


    .Aboutme{
        width: 90%;
        min-height: 34rem;
        background-color: purple;

        border-radius: 2rem;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;

        margin: auto;
    }

    .Aboutme-img{
        width: 50%;
        min-height: 34rem;
        background-color: blanchedalmond;

        border-radius: 2rem;
    }

    .Aboutme-text{
        width: 50%;
        min-height: 34rem;
        background-color: #E63E38;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: left;

        padding: 3rem;

        border-radius: 0 2rem 2rem 0 ;
    }

    .Aboutme-h2{
        width: 80%;
        min-height: 3rem;
        /* background-color: lightcoral; */

        margin: 0 0 3rem 2rem;

        font-family: Salernomi J;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        letter-spacing: -0.1rem;

        color: #FFF2F1;
    }

    .Aboutme-h3{
        width: 80%;
        min-height: 3rem;
        /* background-color: red; */

        margin: 0 0 3rem 2rem;

        font-family: Salernomi J;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;

        color: #FFF2F1;
    }

    .Aboutme-button{
        width: 30%;
        min-height: 2rem;
        background-color: #FFF2F1;

        border-radius: 2rem;

        margin: 0 0 3rem 2rem;
        text-align: center;
    }

    .Contact{
        width: 100%;
        min-height: 10rem;
        /* background-color: orangered; */

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 2rem;
    }
    .Contact-text{
        width: 50%;
        min-height: 3rem;
        /* background-color: bisque; */

        font-family: Salernomi J;
        font-size: 9.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        letter-spacing: -0.5rem;

        color: #E63E38;
    }
    .Contact-icon{
        width: 10%;
        min-height: 2rem;
        /* background-color: bisque; */

        padding: 1rem;
    }

    .Contact-link{
        min-height: 2rem;
        color: #E63E38;
    }

    .Footer{
        width: 100%;
        min-height: 4rem;
        /* background-color: lightskyblue; */

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;

        padding: 2rem;
    }
    .Footer-p{
        width: 10%;
        min-height: 2rem;
        /* background-color: lavender; */
        
        color: #E63E38;
        font-family: Inter;
        font-weight: 400;
        font-size: small;
        text-transform: uppercase;
    }

    .Footer-redes{
        width: 10%;
        min-height: 2rem;
        /* background-color: lavender; */

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .Footer-red{
        width: 15%;
        min-height: 2rem;
        /* background-color: greenyellow;  */

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .Red-single{
        width: 1.2rem;
        min-height: 1.5rem;
        color: #E63E38;
    }

