/* DESCRIPCIÓN: Este archivo de CSS contiene la HOME de la web:
- Main
    -Projects
    -About me
    -Contact


/* ----- Main ----- */
    .Main{
        width: 100%;
        /* min-height: 90vh; */
        /* background-color: pink; */

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .Main-image{
        width: 100%;
        min-height: 30rem;

        margin: 4rem 0;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        background-image: url(../assets/lurromi-abstract-3d.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        animation-name: aparecer;
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-delay:0.6s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
    }

    .Main-h2{
        /* width: 90%; */
        /* min-height: 10rem; */
        /* background-color: purple; */

        margin: 0 0 3rem 0;

        font-family: var(--font-h);
        font-size: 12.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.5rem;

        text-align: center;
        color:var(--naranja);

        animation-name: aparecer;
        animation-duration: 0.8s;
        animation-timing-function: ease;
        animation-delay:1s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
    }

    .Main-content{
        width: 100%;
        /* min-height: 8rem; */
        /* background-color: brown; */

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        margin: 0 0 3rem 0;

        animation-name: aparecer;
        animation-duration: 0.8s;
        animation-timing-function: ease;
        animation-delay:1.2s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
    }

    .Main-p-bold{
        width: 55%;
        /* min-height: 1rem; */
        /* background-color: khaki; */

        margin: 0 0 1rem 0;

        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

        color: var(--naranja);
    }

    .Main-p{
        width: 30%;
        /* min-height: 2rem; */
        /* background-color: khaki; */

        font-family: var(--font-p);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;

        color: var(--naranja);
    }

/* Breakpoints Main */
    @media screen and (max-width: 768px){
        .Main-h2{ 
            line-height: 1em;
        }
        .Main-p{
            width: 60%;
        }
    }
    @media screen and (max-width: 480px){
        .Main-h2{ 
            font-size: 8rem;
        }
        .Main-p{
            width: 90%;
        }
    }

/* ----- Scroll images ----- */

.Scroll-outer{
    overflow: scroll;
    width: 100%;
    margin-top: 3rem;
}

.Scroll-inner{
    width: 200rem;
}

.Scroll-box{
    width: 30rem;
    height: 40rem;
    float: left;
    margin: 0 1rem 0 0 ;
    border-radius: 2rem;
}

.Scroll-image{
    border-radius: 2rem;
    max-height: 40rem;
    object-fit: cover;
}

/* ----- Projects ----- */
    .Projects{
        width: 100%;
        /* min-height: 150vh; */
        /* background-color: lightgreen; */
        margin-top: 6rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .Project-title{
        width: 100%;
        position: relative;
    }

    .Projects-h2{
        width: 100%;
        /* min-height: 4rem; */
        /* background-color: saddlebrown; */

        margin:  0 auto 3rem 0;
        
        font-family: var(--font-h);
        font-size: 9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%; /* 9.84375rem */
        letter-spacing: -0.5rem;

        color: var(--naranja);
        text-align: center;
    }

    .Projects-deco{
        position: absolute;
        z-index: 1;
        right: 3rem;
        top: 6rem;
    }

    .Projects-container{
        width: 90%;
        /* min-height: 20rem; */
        /* background-color: lightseagreen; */

        margin: 0 0 2rem 0;
    }

    .Project-image{
        width: 100%;
        /* min-height: 30rem; */
        background-color: var(--naranja);

        margin: 0 0 2rem 0;

        border-radius: 2rem;
        object-fit: cover;
    }

    .Project-title{
        width: 100%;
        /* min-height: 3rem; */
        /* background-color: seagreen; */

        font-family: Salernomi J;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.8rem;
        letter-spacing: -0.1rem;

        margin: 0 0 0.5rem 0;
        
        color: var(--naranja);
    }
    .Project-tags{
        width: 80%;
        /* min-height: 3rem; */
        /* background-color: burlywood; */

        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.875rem; 

        color: var(--naranja);
    }

    .Projects-container-pair{
        width: 90%;
        /* min-height: 20rem; */
        /* background-color: lightpink; */

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;

        margin: 0 0 2rem 0;
    }

    @media screen and (max-width: 768px){
        .Projects{ 
            flex-flow:column wrap; 
        }
        .Projects-container-pair{
            flex-flow: row wrap;
            justify-content: center;
        }
    }

    .Project-container-squared{
        width: 48%;
        /* min-height: 18rem; */
        /* background-color: gray; */
    }

    @media screen and (max-width: 768px){
        .Project-container-squared{
            width: 90%;
        }
    }


    .Aboutme{
        width: 90%;
        /* min-height: 34rem; */
        /* background-color: purple; */

        border-radius: 2rem;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;

        margin: auto;
    }

    .Aboutme-img{
        width: 50%;
        /* min-height: 34rem; */
        /* background-color: blanchedalmond; */

        object-fit: cover;
        border-radius:2rem 0 0 2rem ;
    }


    .Aboutme-text{
        width: 50%;
        /* min-height: 34rem; */
        background-color: var(--naranja);

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: left;

        padding: 3rem;

        border-radius: 0 2rem 2rem 0 ;
    }

    .Aboutme-h3{
        width: 80%;
        /* min-height: 3rem; */
        /* background-color: lightcoral; */

        margin: 0 0 3rem 2rem;

        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        letter-spacing: -0.1rem;

        color: var(--salmon);
    }

    .Aboutme-p{
        width: 80%;
        /* min-height: 3rem; */
        /* background-color: red; */

        margin: 0 0 3rem 2rem;

        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;

        color: var(--salmon);
    }

/* Breakpoints Aboutme */
    @media screen and (max-width: 768px){
        .Aboutme-text{
            width: 90%;
        }

        .Aboutme-img{
            width: 90%;
        }
    }
    @media screen and (max-width: 480px){
        .Aboutme{
            border-radius: 2rem ;
        }
     
        
    }

/* ----- Contact ----- */
    .Contact{
        width: 100%;
        /* min-height: 10rem; */
        /* background-color: orangered; */

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 2rem;
    }

    .Contact-text{
        /* width: 50%; */
        /* min-height: 3rem; */
        /* background-color: bisque; */

        font-size: 9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 105%;
        letter-spacing: -0.5rem;

        color: var(--naranja);
    }

    .Contact-icon{
        width: 10%;
        /* min-height: 2rem; */
        /* background-color: bisque; */
        padding: 1rem;
        stroke-width:"0.8";
        color: var(--naranja);
    }

/* Breakpoints Contact */
    @media screen and (max-width: 769px){
        .Contact-text{
            font-size: 7rem;
            letter-spacing: -0.2rem;
           }
    }

    @media screen and (max-width: 480px){
       .Contact-text{
        font-size: 5rem;
        letter-spacing: -0.2rem;
       }
    }