/* DESCRIPCIÓN: Este archivo de CSS contiene:
- Main
    -Todos los proyectos

/* ----- Main ----- */

  .Projects{
    width: 100%;

    position: relative;
  }

  .Projects-h2{
    width: 60%;
    /* min-height: 4rem; */
    /* background-color: saddlebrown; */
    
    font-family: var(--font-h);
    font-size: 9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 9.84375rem */
    letter-spacing: -0.5rem;

    color: var(--naranja);
    text-align: left;

    margin: 2rem 5rem;
  }

  .Projects-p{

    margin:0 0 0 5rem ;
    font-family: var(--font-p);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;

    color: var(--naranja);
  }

  .Projects-container{
    display: grid;
    grid-template-columns: repeat(2 , 45%);
    place-content: center;

    gap: 1rem;
    margin: 3rem 0;

  }

  .Projects-single{
    width: 100%;
    min-height: 30rem;
    background-color: pink;
    border-radius: 2rem;

    margin: 0 auto;
  }

  .Projects-single:hover{
    border-radius: 5rem;
  }

  .Projects-img{
    object-fit: fill;
    border-radius: 2rem;
  }

  .Projects-img:hover{
    border-radius: 5rem;
  }
