/* DESCRIPCIÓN: Este archivo de CSS contiene:


/* Este es el RESET */

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: Salernomi J;
  font-display: swap;
  color: var(--negro);
  background-color: var(--purpura);
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}


 /* CUSTOM PROPERTIES */
    :root {
        /* Colores */
        --naranja: #E63E38;
        --salmon: #FFF2F1;
        --purpura:#1E0424;
        /* Tipografías */
        --font-h: 'Salernomi J';
        --font-p: 'Inter';
    }

/* ----- Header ----- */
    .Header{
        width: 100%;
        height: 4rem;
        /* background-color: aquamarine; */

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 3rem 2rem;
    }
    .Header-wrapper{
        width: 95%;
        min-height: 4rem;
        /* background-color: rebeccapurple; */
        margin: 0 auto;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .Header-logo{
       padding: 1rem 1rem 1rem 0;
    }

    .Header-img{
        max-height: 3rem;
    }

    .Header-nav{
       /* background-color: aliceblue; */
    }

    .Header-nav.isActive{}

    .Header-button{
        display: none;
        max-height: 2.5rem;
      }

    .Header-ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        text-align: center;
        font-family: var(--font-p);

        gap: 2rem;
    }

    .Header-a{
        font-family: var(--font-p);
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        
        border-radius: 2.5rem;
        border: 1.5px solid var(--salmon);
        padding: 0.5rem 1rem; 

        color: var(--salmon);
        text-transform: uppercase;
    }

    .Header-a:hover{
        background-color: var(--salmon);
        color: var(--purpura);
    }

/* Breakpoints Header */
    @media (max-width: 769px){
        .Header-nav{
          /* display: none; */
          width: 100%;
          position: absolute;
          top: 8rem;
          right: 0;
      
          height: 0;
          overflow: hidden;
      
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
      
          transition: all 0.5s ;
        }
        .Header-button{
          display: block;
          cursor: pointer;
        }
    }


/* ----- Main ----- */

.Project-main{
    width: 100%;
    /* background-color: red; */
    
    margin: 3rem 5rem;
}

.Project-number{
    font-family: var(--font-h);
    font-size: 2rem;
    text-align: left;
    color: var(--salmon);

    margin: 0 0 2rem 0;
}

.Project-title{
    font-family: var(--font-h);
    font-size: 10rem;
    text-align: left;
    color: var(--salmon);

    margin: 0 0 2rem 0;

}

.Project-details{

    width: 80%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.Project-p{

    color:var(--salmon);
    font-family: var(--font-p);
    font-weight: 400;
    font-size: small;
    text-transform: uppercase;
}


.Next{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.Next-p{
    font-family: var(--font-h);
    font-size: 10rem;
    text-align: left;
    color: var(--salmon);

    margin: 0 0 2rem 0;
}

.Next-icon{

}

.Next-svg{
    color: var(--salmon)
}

/* ----- Footer ----- */
.Footer{
    width: 100%;
    /* min-height: 4rem; */
    /* background-color: lightskyblue; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;

    padding: 2rem;
}
.Footer-p{
    /* width: 35%; */
    /* min-height: 2rem; */
    /* background-color: lavender; */
    
    color:var(--salmon);
    font-family: var(--font-p);
    font-weight: 400;
    font-size: small;
    text-transform: uppercase;
}

.Footer-redes{
    /* width: 10%; */
    /* min-height: 2rem; */
    /* background-color: lavender; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 2rem;
}

.Footer-red{
    /* min-height: 2rem; */
    /* background-color: greenyellow;  */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.Red-link{
    padding: 0.3rem;
}
.Red-single{
    width: 1.2rem;
    /* min-height: 1.5rem; */
    color: var(--salmon);
}


/* Breakpoints footer*/
@media screen and (max-width: 769px){
    .Footer{ 
        flex-flow: row wrap;
    }
    .Footer-p{ 
        width: 50%; 
        margin: 0 auto 1.5rem;
    }
    .Footer-redes{ 
        width: 80%; 
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px){
    .Footer{ 
        flex-flow: row wrap;
    }
    .Footer-p{ 
        width: 100%; 
        margin: 0 auto 1.5rem;
        text-align: center;
    }
    .Footer-redes{
        justify-content: space-around;

    }
}